body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #faf3e0; /* tom bege claro */
    color: #2c3e50;
    margin: 20px;
}
h1 {
    color: #a71b07;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: center;
}
h2 {
    color:blue;
    text-align: right;
}