body {
    background-color: #f4f4f4;
    margin: 20px;
}
h1 {
    color: #a71b05;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: center;
}
h2 {
    color:blue;
    text-align: right;
}